## Creating Redshift Cluster using the AWS python SDK
---

In [1]:
from aws_env import AWSEnv

In [2]:
awse = AWSEnv()
# print(awse)
roleArn = awse.create_IAM_role()
# print('ROLE ARN:', roleArn)

# create RedshiftCluster
awse.create_Redshift_cluster()

# (optionaly) allow access from 0.0.0.0/0 if not set
# awse.create_Access_rules()

# PrintRedshift Props
awse.prettyRedshiftProps()

[IAM] Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.
[IAM] Get the IAM role ARN
arn:aws:iam::820015534556:role/dwhRole
An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists
Status of dwhsparkifycluster is available

                 Key                                              Value
0  ClusterIdentifier                                 dwhsparkifycluster
1           NodeType                                          dc2.large
2      ClusterStatus                                          available
3     MasterUsername                                            dwhuser
4             DBName                                         sparkifydb
5           Endpoint  {'Address': 'dwhsparkifycluster.coq2ls9o0oxj.u...
6              VpcId                                       vpc-9d8807fa
7      NumberOfNodes                                                  4

**NOTE:** Please check and add following params to `dwh.cfg` file.

In [3]:
print(f"[CLUSTER]\nHOST='{awse.redshiftClusterProps['Endpoint']['Address']}'\n\n[IAM_ROLE]\nARN={awse.roleArn}")

[CLUSTER]
HOST='dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com'

[IAM_ROLE]
ARN=arn:aws:iam::820015534556:role/dwhRole

## Chacking sample of songs and log data for better undestand type of data:  
---
Song data: `s3://udacity-dend/song_data`  
Log data: `s3://udacity-dend/log_data`

In [4]:
import pandas as pd
import boto3
import json

In [5]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY                    = config.get('AWS','KEY')
SECRET                 = config.get('AWS','SECRET')

s3 = boto3.resource('s3',
                       region_name="us-west-2",
                       aws_access_key_id=KEY,
                       aws_secret_access_key=SECRET
                   )

In [6]:
udacityDbBucket =  s3.Bucket("udacity-dend")
for obj in udacityDbBucket.objects.filter(Prefix="log_data"):
# for obj in udacityDbBucket.objects.filter(Prefix="song_data"):    
    print(obj)

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

### Loading sample of data to Pandas DataFrame

LogData

In [7]:
%%time
dfLogData = pd.DataFrame()
udacityDbBucket =  s3.Bucket("udacity-dend")
for obj in udacityDbBucket.objects.filter(Prefix="log_data"):
    file_content = obj.get()['Body'].read().decode('utf-8')
    df = pd.read_json(file_content,lines=True)
    dfLogData = dfLogData.append(df,ignore_index=True)
    if len(dfLogData) > 10000:
        break
# dfLogData

CPU times: user 835 ms, sys: 21.5 ms, total: 857 ms
Wall time: 4.54 s

In [8]:
dfLogData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8056 entries, 0 to 8055
Data columns (total 18 columns):
artist           6820 non-null object
auth             8056 non-null object
firstName        7770 non-null object
gender           7770 non-null object
itemInSession    8056 non-null int64
lastName         7770 non-null object
length           6820 non-null float64
level            8056 non-null object
location         7770 non-null object
method           8056 non-null object
page             8056 non-null object
registration     7770 non-null float64
sessionId        8056 non-null int64
song             6820 non-null object
status           8056 non-null int64
ts               8056 non-null int64
userAgent        7770 non-null object
userId           8056 non-null object
dtypes: float64(2), int64(4), object(12)
memory usage: 1.1+ MB

In [9]:
dfLogData.head(3)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,None,Logged In,Walter,M,0,Frye,NaN,free,"San Francisco-Oakland-Hayward, CA",GET,Home,1.540919e+12,38,None,200,1541105830796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",39
1,None,Logged In,Kaylee,F,0,Summers,NaN,free,"Phoenix-Mesa-Scottsdale, AZ",GET,Home,1.540345e+12,139,None,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8
2,Des'ree,Logged In,Kaylee,F,1,Summers,246.30812,free,"Phoenix-Mesa-Scottsdale, AZ",PUT,NextSong,1.540345e+12,139,You Gotta Be,200,1541106106796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",8

In [10]:
# Duration check
# dfLogData[(dfLogData['page'] == 'NextSong')
#           & (~dfLogData.length.isna())
#           & (dfLogData['artist'] == "A Fine Frenzy")
# #           & (dfLogData['artist'].isin(dfSongsData.artist_name.unique()))
#          ]

In [11]:
# checking max data length
for c in dfLogData.columns:
    try:
        print(f"COLLUMN: {c} maxLen = {dfLogData[c].str.len().max()}")
    except:
        pass

COLLUMN: artist maxLen = 89.0
COLLUMN: auth maxLen = 10
COLLUMN: firstName maxLen = 10.0
COLLUMN: gender maxLen = 1.0
COLLUMN: lastName maxLen = 9.0
COLLUMN: level maxLen = 4
COLLUMN: location maxLen = 46.0
COLLUMN: method maxLen = 3
COLLUMN: page maxLen = 16
COLLUMN: song maxLen = 151.0
COLLUMN: userAgent maxLen = 139.0
COLLUMN: userId maxLen = 3.0

In [12]:
# dfLogData.groupby('page').count()

SongsData  
NOTE: Load time is very long becasue of #of logs therefore only 100 rows !!!

In [13]:
%%time
dfSongsData = pd.DataFrame()
udacityDbBucket =  s3.Bucket("udacity-dend")
for obj in udacityDbBucket.objects.filter(Prefix="song_data"):
    file_content = obj.get()['Body'].read()#.decode('utf-8')
    df = pd.read_json(file_content,lines=True)
    dfSongsData = dfSongsData.append(df,ignore_index=True)
    if len(dfSongsData) > 100:
        break
# dfSongsData

CPU times: user 1.86 s, sys: 28.2 ms, total: 1.89 s
Wall time: 11.2 s

In [14]:
dfSongsData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
artist_id           101 non-null object
artist_latitude     47 non-null float64
artist_location     101 non-null object
artist_longitude    47 non-null float64
artist_name         101 non-null object
duration            101 non-null float64
num_songs           101 non-null int64
song_id             101 non-null object
title               101 non-null object
year                101 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 8.0+ KB

In [15]:
# dfSongsData.artist_name.unique()
# dfSongsData[dfSongsData['artist_name'] == "A Fine Frenzy"]

In [16]:
dfSongsData.head(5)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARJNIUY12298900C91,NaN,,NaN,Adelitas Way,213.94240,1,SOBLFFE12AF72AA5BA,Scream,2009
1,AR73AIO1187B9AD57B,37.77916,"San Francisco, CA",-122.42005,Western Addiction,118.07302,1,SOQPWCR12A6D4FB2A3,A Poor Recipe For Civic Cohesion,2005
2,ARMJAGH1187FB546F3,35.14968,"Memphis, TN",-90.04892,The Box Tops,148.03546,1,SOCIWDW12A8C13D406,Soul Deep,1969
3,AR9Q9YC1187FB5609B,NaN,New Jersey,NaN,Quest_ Pup_ Kevo,252.94322,1,SOFRDWL12A58A7CEF7,Hit Da Scene,0
4,ARSVTNL1187B992A91,51.50632,"London, England",-0.12714,Jonathan King,129.85424,1,SOEKAZG12AB018837E,I'll Slap Your Face (Entertainment USA Theme),2001

In [17]:
for c in dfSongsData.columns:
    try:
        print(f"COLLUMN: {c} maxLen = {dfSongsData[c].str.len().max()}")
    except:
        pass

COLLUMN: artist_id maxLen = 18
COLLUMN: artist_location maxLen = 33.0
COLLUMN: artist_name maxLen = 33
COLLUMN: song_id maxLen = 18
COLLUMN: title maxLen = 54

## DB schema design

Base on songs and log dataseet following 2 staging tables are proposed.
Staging tables:
![db_staging_tables](./img/dwh_staging_tables.png)

and finaly data shall be transform to following Facts and Dimensions table: 
![db_schema](./img/dwh_sparkifydb.png)

**NOTE** At this stage there is dificult to define optimal size of data types e.g VARCHAR shall be the best.

## Table creation and ETL process run:  
---

In [18]:
!python create_tables.py

In [19]:
!python etl.py

    COPY staging_events FROM 's3://udacity-dend/log_data'
    credentials 'aws_iam_role=arn:aws:iam::820015534556:role/dwhRole'
    format as json 's3://udacity-dend/log_json_path.json'
    STATUPDATE ON
    region 'us-west-2';


    COPY staging_songs FROM 's3://udacity-dend/song_data'
    credentials 'aws_iam_role=arn:aws:iam::820015534556:role/dwhRole'
    format as json 'auto'
    ACCEPTINVCHARS AS '^'
    STATUPDATE ON
    region 'us-west-2';


    INSERT INTO dt_users (user_id,
                       first_name,
                       last_name,
                       gender,
                       level)
    SELECT  DISTINCT userId          AS user_id,
            firstName                AS first_name,
            lastName                 AS last_name,
            gender                   AS gender,
            level                    AS level
    FROM staging_events
    WHERE userId is NOT NULL
    and page = 'NextSong';


    INSERT INTO dt_artists (artist_id,
                         name,
                         location,
                         latitude,
                         longitude)
    SELECT  DISTINCT artist_id       AS artist_id,
            artist_name              AS name,
            artist_location          AS location,
            artist_latitude          AS latitude,
            artist_longitude         AS longitude
    FROM staging_songs;


    INSERT INTO dt_time (start_time,
                      hour,
                      day,
                      week,
                      month,
                      year,
                      weekday)
    SELECT  DISTINCT TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' AS start_time,
            EXTRACT(hour FROM start_time)    AS hour,
            EXTRACT(day FROM start_time)     AS day,
            EXTRACT(week FROM start_time)    AS week,
            EXTRACT(month FROM start_time)   AS month,
            EXTRACT(year FROM start_time)    AS year,
            EXTRACT(week FROM start_time)    AS weekday
    FROM    staging_events
    WHERE page = 'NextSong';


    INSERT INTO dt_songs (song_id,
                       title,
                       artist_id,
                       year,
                       duration)
    SELECT  DISTINCT song_id         AS song_id,
            title                    AS title,
            artist_id                AS artist_id,
            year                     AS year,
            duration                 AS duration
    FROM staging_songs;


    INSERT INTO ft_songplays (start_time,
                           user_id,
                           level,
                           song_id,
                           artist_id,
                           session_id,
                           location,
                           user_agent)
    SELECT  DISTINCT TIMESTAMP 'epoch' + se.ts/1000                 * INTERVAL '1 second'   AS start_time,
            se.userId                   AS user_id,
            se.level                    AS level,
            ss.song_id                  AS song_id,
            ss.artist_id                AS artist_id,
            se.sessionId                AS session_id,
            se.location                 AS location,
            se.userAgent                AS user_agent
    FROM staging_events AS se
    JOIN staging_songs AS ss
        ON (se.artist = ss.artist_name AND se.length = ss.duration)
    WHERE se.page = 'NextSong';

## SQL Queries for testing and optimization of key distribution
---

In [20]:
%load_ext sql
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

HOST        = config.get("CLUSTER","HOST")
DB_NAME     = config.get("CLUSTER","DB_NAME")
DB_USER     = config.get("CLUSTER","DB_USER")
DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DB_PORT     = config.get("CLUSTER","DB_PORT")

connection_string = f"postgresql://{DB_USER}:{DB_PASSWORD}@{HOST[1:-1]}:{DB_PORT}/{DB_NAME}"

In [21]:
%sql $connection_string

'Connected: dwhuser@sparkifydb'

In [22]:
%sql SELECT count(*) FROM ft_songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(440,)]

**NOTE:** Number of events is very small. events and songs JOIN based on artistId and duration of song in my opinnion is not good idea. In event logs should be stored rather songId instead of song duration.

In [23]:
%sql SELECT count(*) FROM dt_users LIMIT 5;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(104,)]

In [24]:
%sql SELECT count(*) FROM dt_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(14896,)]

In [25]:
%sql SELECT count(*) FROM dt_artists LIMIT 5;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(10025,)]

In [26]:
%sql SELECT count(*) FROM dt_time LIMIT 5;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
1 rows affected.

[(6813,)]

### Data distribution within Redshift

In [27]:
%%sql
select slice, col, num_values as rows, minvalue, maxvalue from svv_diskusage
where name = 'dt_time' and col=0 and rows>0
order by slice, col;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
4 rows affected.

[(0, 0, 6813, 594421306000000, 596922864000000),
 (2, 0, 6813, 594421306000000, 596922864000000),
 (4, 0, 6813, 594421306000000, 596922864000000),
 (6, 0, 6813, 594421306000000, 596922864000000)]

In [28]:
%%sql
select slice, col, num_values as rows, minvalue, maxvalue from svv_diskusage
where name = 'dt_songs' and col=0 and rows>0
order by slice, col;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
8 rows affected.

[(0, 0, 1838, 3549773579132424019, 3552295884997414739),
 (1, 0, 1835, 3553701047551741779, 3551186507829759827),
 (2, 0, 1867, 3553131504823521107, 3552575233965313875),
 (3, 0, 1862, 3551442685044805459, 3554260785290694483),
 (4, 0, 1820, 3549758185969635155, 3549212910227705683),
 (5, 0, 1921, 3550034167683174227, 3552864405523418963),
 (6, 0, 1909, 3555690141395799891, 3556250854092328787),
 (7, 0, 1844, 3552866496751423315, 3549192032391679827)]

In [29]:
%%sql
select slice, col, num_values as rows, minvalue, maxvalue from svv_diskusage
where name = 'ft_songplays' and col=0 and rows>0
order by slice, col;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
8 rows affected.

[(0, 0, 47, 11, 509),
 (1, 0, 49, 12, 495),
 (2, 0, 57, 3, 434),
 (3, 0, 53, 2, 479),
 (4, 0, 47, 0, 477),
 (5, 0, 57, 8, 501),
 (6, 0, 83, 7, 511),
 (7, 0, 47, 1, 493)]

### Analitics / agregation etc.

In [30]:
%%time
%%sql 
SELECT  t.year,
        t.day,
        count(sp.artist_id) AS artist_cnt
FROM ft_songplays AS sp
        JOIN dt_time AS t ON (sp.start_time = t.start_time)
GROUP BY 1,2
ORDER BY t.year desc, t.day desc, artist_cnt desc
LIMIT 10;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
10 rows affected.
CPU times: user 0 ns, sys: 4.89 ms, total: 4.89 ms
Wall time: 177 ms

[(2018, 30, 23),
 (2018, 29, 28),
 (2018, 28, 22),
 (2018, 27, 13),
 (2018, 26, 18),
 (2018, 25, 3),
 (2018, 24, 19),
 (2018, 23, 14),
 (2018, 22, 7),
 (2018, 21, 24)]

In [31]:
%%time
%%sql
SELECT  u.user_id,
        u.last_name,
--        s.song_id,
        sum(s.duration) as tot_duration
FROM ft_songplays AS sp
        JOIN dt_users   AS u ON (u.user_id = sp.user_id)
        JOIN dt_songs   AS s ON (s.song_id = sp.song_id)
GROUP BY 1,2
ORDER BY tot_duration DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhsparkifycluster.coq2ls9o0oxj.us-west-2.redshift.amazonaws.com:5439/sparkifydb
10 rows affected.
CPU times: user 5.53 ms, sys: 127 s, total: 5.66 ms
Wall time: 195 ms

[(49, 'Cuevas', Decimal('15709')),
 (80, 'Levine', Decimal('12395')),
 (97, 'Harrell', Decimal('8010')),
 (44, 'Kirby', Decimal('6473')),
 (73, 'Klein', Decimal('5446')),
 (15, 'Koch', Decimal('5406')),
 (88, 'Rodriguez', Decimal('4742')),
 (24, 'Griffin', Decimal('4254')),
 (29, 'Lynch', Decimal('4197')),
 (25, 'Graves', Decimal('3353'))]

## Environment Cleaning
---

In [32]:
awse.delete_Redshift_cluster()
awse.delete_IAM_role()
del awse

Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
Status of dwhsparkifycluster is deleting
An error occurred (ClusterNotFound) when calling the DescribeClusters operation: Cluster dwhsparkifycluster not found.